@page
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BridgeServer</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/latest/semantic.min.css">
    
    <script src="bridge/bridge.js"></script>
    <script src="bridge/bridge.console.js"></script>
    <script src="bridge/BridgeClient.js"></script>

</head>
<body>

</body>
</html>
